2024_Alethea filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Field_01_PP.uasset filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Forest_01_PP.uasset filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Forest_02_PP.uasset filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Forest_03_PP.uasset filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Field_01.uasset filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Forest_01.uasset filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Forest_02.uasset filter=lfs diff=lfs merge=lfs -text
SM_EuropeanBeech_Forest_03.uasset filter=lfs diff=lfs merge=lfs -text
T_Impostor_BaseColor_Field_01_Summer.uasset filter=lfs diff=lfs merge=lfs -text
T_Impostor_BaseColor_Field_01_Winter.uasset filter=lfs diff=lfs merge=lfs -text
T_Impostor_Normal_Field_01_Summer.uasset filter=lfs diff=lfs merge=lfs -text
T_Impostor_Normal_Field_01_Winter.uasset filter=lfs diff=lfs merge=lfs -text
